<div id="container">
  <%= form_with model: @step, remote: true, method: :patch, html: { id: "note-form" } do |f| %>
    <div class="d-flex">
      <%= f.submit @step.new_record? ? "Créer" : "Enregistrer", class: "btn btn-primary mb-1" %>
      <%= link_to "Retour", "javascript:history.back()", class: "btn btn-outline-dark mb-1" %>
    </div>
    <%= f.text_area :note, placeholder: "Écrivez vos notes ici...", class: "form-control", rows: 30, data: { action: "input->step#autosave" } %>
  <% end %>
</div>
