simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #ffffff;
  }
}

.session {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}

.session:hover {
  background: #2b7bf3;
  color: white;
}
