<% if time_slots %>
  <div class="mt-4 row", id='time_slots'>
    <% @time_slots.group_by(&:day_of_week).each do |day_of_week, slots| %>
      <div class="col-12 col-md-6 col-lg-2 mb-3">
        <div class="card">
          <div class="card-header text-center fw-bold">
            <%= day_of_week %>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <% slots.each do |time_slot| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><%= "#{time_slot.start_time.strftime("%H:%M")} - #{time_slot.end_time.strftime("%H:%M")}" %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
