<div id="steps_list">
  <div class="container mt-2">
    <table class="table table-bordered table-striped"> <!-- Tableau Bootstrap -->
      <thead>
        <tr class="table-dark">
          <th>Description</th>
          <th>Durée estimée (minutes)</th>
          <th>Priorité</th>
        </tr>
      </thead>
      <tbody>
        <% steps.each do |step| %>
          <tr class= "<%= 'table-success' if step.status == 1  %>" >
            <td><%= step.description %></td>
            <td><%= step.estimated_minute %></td>
            <td><%= step.priority %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
