<div class='container mt-5'>

  <!-- Card contenant les steps -->
  <div class="card">
    <div class="card-header">
      <h1 class='text-center mb-4'><%= @current_day.strftime("%A %d %B") %> :</h1>
    </div>
    <div class="card-body">
      <div data-controller="step" class='mt-4'>
        <div class="d-flex justify-content-center">
          <div>
          <% if @steps.any?%>
            <% @steps.each do |step| %>
              <div class="form-check mb-3">
                <%= check_box_tag "step_status_#{step.id}", "1", step.status == 1,
                    class: "form-check-input form-check-lg",
                    data: { action: "click->step#toggle", step_id: step.id } %>
                <%= label_tag "step_status_#{step.id}", step.description, class: "form-check-label ms-2" %>
              </div>
            <% end %>
            <% else %>
            <p>vous n'avez rien de prévu aujourd'hui</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
