<div class='container mt-5'>
<h1 class='text-center'>Create New Goal</h1>
  <%= simple_form_for @goal do |f| %>
    <%= f.input :description %>
    <%= f.submit 'create goal', class:'btn btn-outline-dark' %>
  <% end %>
</div>
